# ignore binary
rpgen
# ignore object files
*.o
# ignore libraries
*.a
*.d
# ignore swap files
*.swp
*.swo
# ignore temporary files
*.tmp
*.out
# ignore bin files
bin/rpgen
# ignore output files
out.v
patch.v
F_miter.v
# ignore tags
src/tags
src/cir/tags
src/sat/tags
src/util/tags
src/main/tags
